:root {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 1.7em;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

article {
    min-width: 400px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center; 
    background-color: whitesmoke;       
}

header, main, footer {
    padding: 30px;
}

header {
    background-color: brown;
    height: 200px;
    overflow: auto;
    font-weight: bold;

}

main {
    background-color: bisque;
   /* min-height: 60vh;
    min-height: calc(100vh - 350px);*/  
    padding-bottom: 110px; 
}

footer {
    background-color: blueviolet;
    height: 100px;      
}