:root {
    
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
*, ::before, ::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    min-width: 400px;
    max-width: 830px;
    margin: 0 auto;   
}

table {
   /* width: 400px;*/
    height: 300px;
    
    margin: 20px;
    border-collapse: collapse; 
    
}
tr {
    /* background-color: aquamarine; */
}
td, th {
    border: 1px solid grey;
    text-align: center;
    /*vertical-align: top;*/
    padding: 4px;
    
}

th {
    text-transform: capitalize;
    font-size: 20px;
    color: white;
    background-color: rgb(67, 67, 241);
   
}

td {
    font-size: 12px;
    min-height: 50px;
}

td span{
    font-size: 25px;
    color: rgb(67, 67, 241);
    font-weight: bold;
}

td:nth-child(odd), th:nth-child(odd) {
   
    width: 200px;
}

td:nth-child(even), th:nth-child(even) {
    border: none;
    background-color: #fff;
    width: 20px;
}