:root {
    
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
*, ::before, ::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

table {
    height: 300px;
    max-width: 900px;
    margin: 20px auto; 
    border-spacing: 20px 0;    
}

td, th {    
    text-align: center;
    vertical-align: middle;
    padding: 4px; 
    min-width: 200px;
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
}

th {
    text-transform: capitalize;
    font-size: 20px;
    color: white;
    background-color: rgb(58, 116, 241);
    border-top: 1px solid grey;
}

td {
    font-size: 12px;
}

td span{
    font-size: 25px;
    color: rgb(87, 127, 212);
    font-weight: bold;
}

td input {
    background-color: rgb(74, 116, 206);
    color: white;
    font-weight: bold;
    padding: 5px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

tr:nth-child(4), tr:nth-child(5)  {
    background-color: rgb(87, 198, 238);
    font-weight: bold;
}

 tr:last-child td {
    border-bottom: 1px solid grey;
}

/*Second table*/
.table {
    display: table;
    height: 300px;
    max-width: 900px;
    margin: 20px auto; 
    border-spacing: 20px 0; 
}

.td {
    display: table-cell;
    list-style-type: none;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    min-width: 200px;
    /*border-bottom: 1px solid rgb(184, 184, 184);*/
    border: 1px solid grey;
    /*border-left: 1px solid grey;
    border-top: 1px solid grey;*/
}

li input {
    background-color: rgb(74, 116, 206);
    color: white;
    font-weight: bold;
    padding: 5px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

li:first-child {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: rgb(255, 218, 10);   
    padding: 10px; 
}

li span{
    font-size: 25px;
    color: rgb(255, 218, 10);
    font-weight: bold;
}


li:nth-child(4), li:nth-child(5)  {
    background-color: rgb(216, 216, 216);
    font-weight: bold;
}

li:nth-child(n+2) {
    border-top: 1px solid rgb(184, 184, 184);
    padding: 8px; 
}
