body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    
}

.container {
    background-color: rgb(243, 197, 113);
}

.centered {
    margin: 0 auto;
    width: 900px;
    padding-top: 10px;
    text-align: center;
}

.system {
    display: inline-block;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

p {
    color: darkred;
    margin: 5px;
}
img {
    border: 2px solid darkred;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.system:hover {
    background-color: rgb(243, 180, 63);
    text-decoration: underline darkred;
    -moz-text-decoration-line: underline darkred;
    border: 2px solid darkred;
}