:root {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
*, ::before, ::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    text-align: center;
    
}

.subscription {
    background-image: url("../img/desert.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    height: 700px;        
    /*border: 5px dotted brown;  */
}

h1{
    padding-top: 200px;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 2px lightseagreen;
}

.mail {
    padding-top: 25px;
    display: inline-block;
}

.mail input[type="email"] {
    background: whitesmoke no-repeat left/25px url("../img/sprites/email.png");
    color: brown;
    vertical-align: baseline;
    font-weight: bold;
    font-size: 15px;
    padding-left: 25px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.mail input[type="submit"] {
    color: red;
    font-weight: bold;
    background-color: thistle;
    border-radius: 5px;
    border: 2px solid red;
    width: 100px;
    height: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.choice{
    margin: 0 auto;
    width: 600px;
    text-align: center;
}

._check, ._radio {
    display: inline-block;
    margin: 10px 10px 5px 0px;
    padding: 7px;
    width: 200px;
    height: 40px;
    border: solid 1px;
    text-align: left;
    background-color: lightsteelblue;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;   
}

.choice input {
    display: none;
}

.choice input+label {         
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    height: 28px;
    width: 28px;       
}

/* стилзация переключателя-фоновой картинки input[type="checkbox"]*/
.choice input[type="checkbox"]+label {
    background-image: url("../img/sprites/sprite_check.png");
    background-position: -30px -2px;
    background-size: 56px;
    background-repeat: no-repeat;
}

.choice input[type="checkbox"]:checked+label {
    background-position: -2px -2px;
}

/* стилзация переключателя-фоновой картинки input[type="radio"]*/
.choice input[type="radio"]+label {
    background-image: url("../img/sprites/sprite_radio.png");
    background-position: -30px -30px;
    background-size: 56px;
    background-repeat: no-repeat;
}

.choice input[type="radio"]:checked+label {
    background-position: -2px -30px;
}

/*стилизация текста форме выбора*/
.choice input+label::after {
    padding: 30px;
    content: "don't_selected):";
    text-decoration: line-through;
    color: red;
}


.choice input:checked+label::after {
    padding: 30px;
    content: "selected:)";
    text-decoration: underline;
    color: green;
}

footer {
    background-color: lawngreen;     
    padding: 15px 0;
}

.social {
    
    display: inline-block;
    background-image: url("../img/sprites/sprites_icon.png");
    background-repeat: no-repeat;
    background-size: 241.5px;
    height: 34.5px;
    width: 34.5px;
    margin: 0;
    padding: 0;
}

#fb {
    background-position: -1.25px -1.25px;  
   
}

#fb:hover {
    background-position: -1.25px -35.75px;
}

#git {
    background-position: -35.75px -1.25px;  
    margin: 0;
    padding: 0; 
}

#git:hover {
    background-position: -35.75px -35.75px;
}

#google {
    background-position: -70.25px -1.25px;   
}

#google:hover {
    background-position: -70.25px -35.75px;
}

#insta {
    background-position: -104.75px -1.25px;   
}

#insta:hover {
    background-position: -104.75px -35.75px;
}

#linked {
    background-position: -139.25px -1.25px;   
}

#linked:hover {
    background-position: -139.25px -35.75px;
}

#what_s {
    background-position: -173.75px -1.25px;   
}

#what_s:hover {
    background-position: -173.75px -35.75px;
}

#youtube {
    background-position: -208.25px -1.25px;   
}

#youtube:hover {
    background-position: -208.25px -35.75px;
}


/*.choice input:checked+label::before {
    color: red;
    border-color: red;
    background-color: white;
    font-weight: bold;
    display: inline-block;
    content: "✓";



{
    

.bg-radio1 {
    width: 283px; height: 283px;
    background: url('css_sprites.png') -15px -15px;
}

.bg-radio2 {
    width: 282px; height: 283px;
    background: url('css_sprites.png') -328px -15px;
}

.bg-radio3 {
    width: 283px; height: 282px;
    background: url('css_sprites.png') -15px -328px;
}

.bg-radio4 {
    width: 282px; height: 282px;
    background: url('css_sprites.png') -328px -328px;
}
}

.subscription div input {
    display: none;
}

.subscription label{
    display: inline-block;
    width: 100%;
    cursor: pointer;
    vertical-align: middle;    
}

.subscription label::before{
    width: 15px;
    height: 20px;
    border: 2px solid grey;
    background-color: darkgrey;
    cursor: pointer;
    vertical-align: middle;    
    display: inline-block;
    content: "";
}

.subscription input:checked+label::before {
    color: red;
    border-color: red;
    background-color: white;
    font-weight: bold;
    display: inline-block;
    content: "✓";
}*/