@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/roboto-black-webfont.woff2') format('woff2'),
         url('../fonts/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*@font-face {
    font-family: 'robotoblack_italic';
    src: url('../fonts/roboto-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotobold_italic';
    src: url('../fonts/roboto-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight_italic';
    src: url('../fonts/roboto-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotomedium_italic';
    src: url('../fonts/roboto-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoitalic';
    src: url('../fonts/roboto-regularitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto-thin-webfont.woff2') format('woff2'),
         url('../fonts/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotothin_italic';
    src: url('../fonts/roboto-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/

@import url('https://fonts.googleapis.com/css?family=Poiret+One|Yeseva+One&display=swap');/*1*/
@import url('https://fonts.googleapis.com/css?family=Prosto+One&display=swap'); /*2 font-family: 'Prosto One', cursive;*/
@import url('https://fonts.googleapis.com/css?family=Kelly+Slab&display=swap&subset=cyrillic');

article {
    background-color: aqua;
    vertical-align: middle;
    padding: 0;
}

p {
    margin: 0;
}

h1 {
    text-align: center;
    font-family: 'Kelly Slab', cursive;
    font-weight: lighter;
    font-size: 50px;
    margin: 0;
    /*font-style: italic;*/
}

h2{
    text-align: center;
    font-family: 'Yeseva One';
    margin: 0;
    font-size: 50px;
    font-weight:bolder; 
}

.section_1 {
    font-family: 'robotothin', sans-serif;
    text-align: justify;
    background-color: lightblue;
    color: red;
    font-size: 150%;
}

.section_1 span {
    font-size: 0.7em;
}

.italic {
    font-style: italic;
    color: grey;    
}

.bold {
    font-weight: bold;
    color: black;
    font-size: 3rem;
}

.section_2 {
    font-family: 'robotomedium_italic', sans-serif;
    color: green;
    background-color: lightblue;
    text-align: justify;
    font-size: 36px;
}

.section_2 span {
    font-size: 24px;
}

footer {
    font-family: 'Inconsolata', monospace;
    border: solid lightgray 1px;
    background-color: ghostwhite;
    font-style: italic;
    font-size: 75%;
}