@import url('https://fonts.googleapis.com/css?family=Fira+Code:600|Kelly+Slab|Lobster&display=swap&subset=cyrillic,cyrillic-ext');

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

article {
    background-color: aqua;
    vertical-align: middle;
    padding: 0;
}

p {
    margin: 0;
}

h1 {
    text-align: center;
    font-family: 'Kelly Slab', cursive;
    font-weight: lighter;
    font-size: 50px;
    margin: 0;
    /*font-style: italic;*/
}

h2{
    text-align: center;
    font-family: 'Lobster', cursive;
    margin: 0;
    font-size: 50px;
    font-weight:bolder; 
}

.section_1 {
    font-family: 'roboto', sans-serif;
    text-align: justify;
    background-color: lightblue;
    color: red;
    font-size: 150%;
    font-style: normal;
}

.section_1 span {
    font-size: 0.7em;
}

.italic {
    font-style: italic;
    color: grey;    
}

.bold {
    font-weight: bold;
    color: black;
    font-size: 3rem;
}

.section_2 {
    font-family: 'roboto', sans-serif;
    color: green;
    background-color: lightblue;
    text-align: justify;
    font-size: 36px;
    font-style: italic; 
}

.section_2 span {
    font-size: 24px;
}

footer {
    font-family: 'Fira Code', monospace;
    border: solid lightgray 1px;
    background-color: ghostwhite;
    font-style: italic;
    font-size: 75%;
}