body {
    text-align: center;
}

table,
td,
th {
  border-spacing: 0; /* расстояние между границами ячеек (аналог атрибута cellspacing) */
  border: 1px solid black; /* Добавляет черную границу ячейкам и таблице */
  border-collapse: collapse; /* Объединяет смежные границы в одну */
}
table {
    width: 700px;
}

thead {
    font-size: 18pt;
}

tbody {
    /*font-weight: bold;*/
    color: black;
}

.red_row .color {
    background: red;
}

.red_row .hex {
   background-color: #FF0000; 
   color: white;
}

.red_row .rgb {
    background-color: rgb(255, 0, 0); 
    color: rgb(168,255,200);
}

.red_row .hsl {
    background-color: hsl(0, 100%, 50%); 
    color: hsl(180, 100%, 65%)
}

.red_row .alpha {
    background-color: #FF0000; 
    opacity: .7;    
}

.orange_row .color {
    background: orange;
}

.orange_row .hex {
   background-color: #FFA500; 
   color: #152f27;
}

.orange_row .rgb {
    background-color: rgb(255, 165, 0); 
    color: rgba(101,11,101,1);
}

.orange_row .hsl {
    background-color: hsl(39, 100%, 50%); 
    color: hsl(128, 60%, 20%);
}

.orange_row .alpha {
    background-color: hsla(39, 100%, 50%, 0.6);
    
}

.yellow_row .color {
    background: yellow;
}

.yellow_row .hex {
   background-color: #FFFF00; 
   color:blue;
}

.yellow_row .rgb {
    background-color: rgb(255, 255, 0); 
    color: rgb(200,0,200);
}

.yellow_row .hsl {
    background-color: hsl(60, 100%, 50%); 
    color: rgb(19, 39, 223);
}

.yellow_row .alpha {
    background-color: rgba(255, 255, 0, 0.5);
}

.green_row .color {
    background: green;
}

.green_row .hex {
   background-color: #008000; 
   color: #fff900;
}

.green_row .rgb {
    background-color: rgb(0, 128, 0); 
    color: rgb(238,255,10);
}

.green_row .hsl {
    background-color: hsl(120, 100%, 25%); 
    color: hsl(39, 100%, 50%);
}

.green_row .alpha {
    background-color: rgba(0, 128, 0, 0.4);
}

.cyan_row .color {
    background: cyan;
}

.cyan_row .hex {
   background-color: #00FFFF; 
   color: #9c3030;
}

.cyan_row .rgb {
    background-color: rgb(0, 255, 255); 
    color: rgb(101,91,14);
}

.cyan_row .hsl {
    background-color: hsl(180, 100%, 50%); 
    color: hsl(180, 73%, 16%)
}

.cyan_row .alpha {
    background-color: #00FFFF; 
    opacity: .5;    
}

.blue_row .color {
    background: blue;
}

.blue_row .hex {
   background-color: #0000FF; 
   color:#f3e41c;
}

.blue_row .rgb {
    background-color: rgb(0, 0, 255); 
    color: rgb(9,245,192);
}

.blue_row .hsl {
    background-color: hsl(240, 100%, 50%); 
    color: hsl(0, 15%, 96%);
}

.blue_row .alpha {
    background-color: hsla(240, 100%, 50%, 0.4);
    
}

.violet_row .color {
    background: violet;
}

.violet_row .hex {
   background-color: #EE82EE; 
   color:#001ba7;
}

.violet_row .rgb {
    background-color: rgb(238, 130, 238); 
    color: rgb(13, 68, 18);
}

.violet_row .hsl {
    background-color: hsl(300, 76%, 72%); 
    color: hsl(234, 94%, 21%);
}

.violet_row .alpha {
    background-color: rgba(238, 130, 238, 0.3);
}
