body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
    
}

li {
    padding: 5px;
}

a {
    text-decoration: none;
    text-transform: capitalize;
}

a:link  {
    color: darkolivegreen;
}

a:visited {
    color: orange;
}

a:hover {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt; 
    color: limegreen;
    background-color: darkblue;
}

a:focus {
    background-color: darkgrey;
    color: brown;
    outline: sandybrown double 7px; 
}

a:active {
    color: fuchsia;

}

p {
    background-color: aqua;
    color: darkgoldenrod;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p:hover {
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    letter-spacing: .1em;
    word-spacing: 1.3em;
    background-color: lightcyan;
}