:root {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
*, ::before, ::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

header, main, footer {
   
    min-width: 400px;
    max-width: 800px;
    margin: 0 auto;
       
}


nav {
    height: 40px;
    border-top: 1px dashed brown; 
    border-bottom: 1px dashed brown;     
}

ul li  {
    display: inline-block;
    padding: 0 5px;
    vertical-align: -5px;
}

ul li+li {
    border-left: 1px solid red;
}

ul li:hover {
    background-color: rgb(240, 225, 23);   
}

main {
    min-height: 100vh;
    margin-top: -100px;
    padding-top: 100px;
    padding-bottom: 50px;
    margin-bottom: -50px;     
    position: relative;
    z-index: -1;
 }
section {
    width: 200px;
}

ol {    
    margin-bottom: 1em;
    margin-top: 1em;
    list-style: none;
    counter-reset: menu;    
}

ol li {    
    margin-bottom: 5px;
    border-radius: 4px;
    background-color: lightblue;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    text-transform: uppercase;     
    /*border-left: 3px brown solid;   */
}

ol li:hover {
    background-color: red;       
}

ol li::before {
    margin-right: 10px;
    counter-increment: menu;
    content: counter(menu);
    color: white;
    background-color: darkgoldenrod;    
    padding: 0 5px;
    border-left: 3px brown solid;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

ol li:hover::after {
    content: "  " url(../img/star.png);
}

ol li::after:hover {
    visibility: visible;
}

footer {
    border-top: 1px dashed brown;
    height: 50px;   
    padding: 10px 0;
    
}
