:root {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
*, ::before, ::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

header, main, footer {
    min-width: 400px;
    max-width: 800px;
    margin: 0 auto;       
}

nav {
    height: 40px;
    border-top: 1px dashed brown; 
    border-bottom: 1px dashed brown;     
    margin: 15px 0;
}

ul li  {
    display: inline-block;
    padding: 0 5px;
    vertical-align: -5px;
}

ul li+li {
    border-left: 1px solid red;
}

ul li:hover {
    background-color: rgb(240, 225, 23);   
}

main {
    min-height: calc(100vh - 175px);       
}

section {
    width: 200px;
}

.side_menu {    
    list-style: none;
    counter-reset: menu;    
}

.side_menu span {
    display: inline-block;
    height: 27px;
    margin-bottom: 3px;
    width: 170px;
    padding-left: 4px;
    border-radius: 4px;
    border-left: 2px solid white;
    background-color: lightblue;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    text-transform: uppercase;
    color: rgba(0, 0, 255);
}

.side_menu li::before {    
    counter-increment: menu;
    content: counter(menu);
    color: white;
    background-color: rgb(20, 94, 255);    
    padding: 0 5px;
    border-left: 3px brown solid;
    border-right: 2px white solid;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

li:hover span {
    background-color: rgb(44, 182, 228);
}

li:hover span::after {
    content: "  " url(../img/star.png);    
}

.side_menu li:hover::before {
    background-color: rgb(53, 111, 236);  
    border-left-color: red;   
}

footer {
    border-top: 1px dashed brown;
    height: 50px;   
    padding: 10px 0;    
}
