:root {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
*, ::before, ::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

h1 {
    margin-left: 20px;
}
nav {
    margin: 5px 20px 0 20px;
    height: 40px;
    border-top: 1px dashed brown; 
    border-bottom: 1px dashed brown; 
    
}



ul li  {
    display: inline-block;
    padding: 0 5px;
   
    vertical-align: -5px;
}

ul li:hover {
    background-color: rgb(240, 225, 23);
}

ol {
   /* margin-left: 2em;*/
    margin-bottom: 1em;
    margin-top: 1em;
    counter-reset: menu;
    list-style: none;
}

ol li {
    margin-bottom: 2px;
    border-radius: 4px;
    background-color: rgb(181, 181, 247);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    text-transform: uppercase;
    padding-left: 3px;
    
}

ol li::before {
   /*margin-right: .1em;*/
    counter-increment: menu;

    content: counter(menu) " ";
    color: blue;
    background-color: violet;
    border-left: 2px solid brown; 
}

footer {
    margin: 0 20px;
    border-top: 1px dashed brown;
    height: 50px;
    
}

section {
    min-height: 100vh;
    margin-top: -100px;
    padding-top: 100px;
    padding-bottom: 50px;
    margin-bottom: -50px;     
    position: relative;
    z-index: -1;
    width: 200px;
}

footer p {
    display: block;
    vertical-align: - 10px;
}