:root {
    font-size: 12pt;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
*, ::before, ::after {
    box-sizing: inherit;
    margin: 0;
}

form {
    max-width: 50%;    
}

fieldset {
    margin: 20px;
    background-color: lightblue;
    border: solid 1px blue;  
    box-shadow: 10px 10px 5px gray;
}

legend {
    margin-left:10px;
    padding: 2px 5px;
    font-style: italic;
    font-size: 12pt;
    border: solid 1px blue ;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: yellow;
    color: red;
    font-weight: bold;
    text-align: right;
}

textarea, select, input[type="date"] {
    font-family: inherit;
    font-size: 0.7em;
    text-align: center;
    background-color: lightgrey;
    box-shadow: -2px -2px 1px darkgrey;
    color: brown;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

input:required {
    background-color: lightsalmon;  
    border-style: solid;
    border-color: bisque;     
}

input:valid:required {
    background-color: lightgreen;  	
    border-style: dashed;
    border-color: aquamarine;  
}

input:default+label, option:default {
    font-weight: bold;
    color: blue;   
}

#main {
    box-shadow: inset 5px 5px 2px whitesmoke, inset -5px -5px 2px 2px whitesmoke;
}

.preferences div, .consent_box div {
    border: 1px transparent dotted;
    padding: 3px 0 0 10px;
    margin-top: 10px;
    height: 30px;
    vertical-align: middle;
/*стилизация поля ввода выбора*/
}

.preferences div:hover, .consent_box div:hover {
    border-color: red;   
    /*cursor: pointer;*/
/*пункутирная красная рамка при наведении на поля ввода выбора*/}

.preferences div {
    color: grey;
}

.send_box {
    text-align: center;
}

.send_box legend {
    text-align: center;
}

.add_inform {
    display: table;
}

.table {
    display: table;
    width: 100%;
}

.td {
    display: table-cell;
    list-style-type: none;    
    width: 50%;
    padding: 5px 0;
}

.td li {
    
    vertical-align: middle;
    min-height: 35px;
}

/*стилизация флажков*/
.preferences input {
    display: none;
}

.preferences label{
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    
}

.preferences label::before{
    width: 15px;
    height: 20px;
    border: 2px solid grey;
    background-color: darkgrey;
    cursor: pointer;
    vertical-align: middle;    
    display: inline-block;
}

.preferences input:checked+label::before {
    color: red;
    border-color: red;
    background-color: white;
    font-weight: bold;
    display: inline-block;
    content: "✓";
}

/*стилизация переключателей*/

.consent_box input {
    display: none;
}

.consent_box label {
    display: inline-block;
    cursor: pointer;
}

.consent_box label::before {
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 2px solid grey;
    background-color: darkgrey;
    box-shadow: 0 0 5px  blue;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.consent_box input:checked+label::before {
    border: 4px solid yellow;
    background-color: green;
}

/*стилизация кнопок submit & reset*/

input[type="submit"] {
    cursor: pointer;
    color:chartreuse;
    background-color: royalblue;
    border: 3px solid greenyellow;
    font-size: 1em;
    padding: 10px;
    border-radius: 20px 5px 30px 20px;
    -webkit-border-radius: 20px 5px 30px 20px;
    -moz-border-radius: 20px 5px 30px 20px;
    -ms-border-radius: 20px 5px 30px 20px;
    -o-border-radius: 20px 5px 30px 20px;
    margin: 20px;
    
}

input[type="submit"]:hover {
    color:rgb(4, 0, 255);     
    background-color: aqua;    
}

input[type="submit"]:active {
    box-shadow: 10px -10px 7px  rgb(32, 119, 218); 
}

input[type="reset"] {
    cursor: pointer;
    color:chartreuse;
    background-color: tomato;
    border: 3px solid greenyellow;
    font-size: 1em;
    padding: 10px;
    border-radius: 30px 20px 20px 5px;
    -webkit-border-radius: 30px 20px 20px 5px;
    -moz-border-radius: 30px 20px 20px 5px;
    -ms-border-radius: 30px 20px 20px 5px;
    -o-border-radius: 30px 20px 20px 5px;
    margin: 20px;
}

input[type="reset"]:hover {
    color:rgb(4, 0, 255);
    
    background-color: firebrick;    
}

input[type="reset"]:active {
    box-shadow: -10px 10px 7px  goldenrod;  
}

